/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a perfect fourth(3:4) modular scale
  http://www.modularscale.com/?18&px&1.333&web&text
*/

html {
  font-size: 1.777em;/*28.43px / 16px*/
  line-height: 1.196em;/*34px/ 28.43 1 gridline*/
}

h1 {
  font-size: 1.333em;/*37.897px / 28.43;*/
  line-height: 1.794em; /*68px/37.897 x2 of line-height of html */
}

/* ===== RESPONSIVE MEDIA ===== */

/* ===== LAYOUT STYLES ===== */


/* ===== MODULAR STYLES ===== */

/*====== Forms ========== */
label,
input {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
}

.space {
  padding-top: 1em;
}

.question {
  padding-top: 1.3em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.cbox {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===== STATE STYLES ===== */
.hasjs input[type="submit"] {
  position: absolute;
  left: -5555.556em;/*-100000px*/
}

.hasjs input[type="submit"].active {
  position: static;
}
